main {
  margin-top: 60px;
}

form {
  width: 350px;
  margin-bottom: 10px;
}

ul {
  margin-bottom: 0px;
}

div.ui  {
  margin-left: auto;
  margin-right: auto;
  
}

input {
  width: 350px;
}

h1.ui.header {
  margin-left: 50%;
  margin-right: 50%;
  width: 350px;
  
  
  color: rgb(4, 0, 255);
}

ui.red.basic.button {
  color: red;
}
